[View in Colaboratory](https://colab.research.google.com/github/mxchauhan/Thinkful-Bootcamp-Drills/blob/master/Unit_1_Joins_and_CTEs.ipynb)

**QUESTION 1: What are the three longest trips on rainy days?**

In [0]:
WITH
	rainydays
AS (
	SELECT
		Date,
		Events
	FROM
		weather
	WHERE
		Events LIKE 'Rain'
	GROUP BY 1
)

SELECT
	trip_id,
	duration,
	DATE(start_date) AS trip_date
FROM
	trips
JOIN
	rainydays
ON
	trip_date = rainydays.date
ORDER BY duration DESC
LIMIT 3

**QUESTION 2: Which station is full most often?**

In [0]:
WITH
	full_station
AS (
	SELECT
		status.station_id AS full_station_id,
		Count(*) as full_total
	FROM
		status
	WHERE
		docks_available = 0
	GROUP BY 1
)

SELECT
	stations.name,
	max(full_total)
FROM
	stations
JOIN
	full_station
ON
	full_station_id = stations.station_id

**QUESTION 3: Return a list of stations with a count of number of trips starting at that station but ordered by dock count.**

In [0]:
SELECT
	start_station,
	dockcount,
	Count(*) numoftrips
FROM
	trips
JOIN
	stations
ON
	stations.name = trips.start_station
GROUP BY 1
ORDER BY dockcount DESC